<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlogManagementApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/users">
                <span class="oi oi-person" aria-hidden="true"></span> Usuarios
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/posts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Publicaciones
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/photosoverview">
                <span class="oi oi-image" aria-hidden="true"></span> Fotos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/logs">
                <span class="oi oi-beaker" aria-hidden="true"></span> Logs
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
