<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Lista de usuarios
            </div>
            <div class="card-body">
                 
                <div class="progress" *ngIf="usersList.length===0">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>

                <table class="table table-bordered table-dark" *ngIf="usersList.length>0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            <th scope="col">Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersList">
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{getNameOfCompany(user.id)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>