@page "/"

<h1>Bienvenido a la central de Blogs</h1>

Aqui podra visualizar los usuarios, sus publicaciones , albumes y fotos. Tambien podra visualizar la bitacora
de las peticiones realizadas al proveedor.


