<!DOCTYPE html>
<html lang="es-es">
  <head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
         <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link href="~/dist/allears.min.css" asp-append-version="true"/>
    </environment>

    @RenderSection("head",false)
  </head>
  <body>
    <div class="container-fluid">
     
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">AngularApp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" asp-controller="App" asp-action="Index">
                 <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                  <i class="fas fa-users"></i>  Users
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link">
                  <i class="fas fa-signs-post"></i>  Albums
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link">
                  <i class="fas fa-wrench"></i> Logs
                </a>
              </li> 
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>

         <div class="container-fluid">
            <br />
                @RenderBody() 
                
                <footer>
                  <div class="mb-2">
                    <small> © 2022 made with <i class="fas fa-code" style="color:red"></i> by - <a target="_blank" rel="canonical" href="#"> Jorge Carballo </a>
                    </small>
                  </div>
                </footer>
                <environment include="Development">
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                </environment>

                <environment exclude="Development">
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
                    <script src="~/dist/allears.min.js" asp-append-version="true"></script>
                </environment>

                @RenderSection("scripts",false)
         </div>
    </div>
  </body>
</html>