@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a responsive template based on bootstrap 4.6.1 framework, using angular with ASP.NET Core and API.</p>
  <hr class="my-4">
  <p>You can find the complete code on Git, it contains more..</p>
  <a href="https://github.com/jorgecarballoh" target="_blank" class="btn btn-primary btn-lg">
              Learn more on my Github</a>
</div>